.toolbar {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  background-color: transparent;
  line-height: 68px;
  /*border-top: 2px solid #1abc9c;*/
}
 
.menu-button {
  position: relative;
  margin: 5px;
  height: 36px;
  width: 36px;
  cursor: pointer;
}
 
.menu-button:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 3px;
  /*border-bottom: 17px double #1abc9c;
  border-top: 6px solid #1abc9c;*/
  width: 30px;
  height: 5px;
}
 
.menu-left {
  float: left;
  margin-right: 1.5em;
}

.sidebar {
  margin: 0;
  padding-top: 1em;
  color: white;
  background-color: #00AEEF;
}
 
.sidebar h6 {
  margin: 0 .8em;
  padding: 0;
  font-weight: 300;
}
 
.sidebar li {
  margin: .5em 0;
  padding: 0 1em;
  line-height: 32px;
}
 
.sidebar li:hover { 
    background-color: #e84e40; 
}
 
.sidebar hr {
  margin: 2em auto;
  border: 0;
  padding: 0;
  width: 80%;
  height: 1px;
  background-color: white;
}